body {
    font-family: 'Dosis';
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 1440px;
    margin: 0 auto;
    
}

.cabecalho .logo {
    width: 70px;
}

.cabecalho .menu {
    display: flex;
    align-items: center;
    height: 100%;
}

.cabecalho nav li a {
    font-weight: bold;
    color: rgb(226, 6, 19);
    font-size: 24px;
    padding: 10px 35px;
}

.container {
    
    max-width: 1440px;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding: 50px;
}
.container .formulario {


}
.formulario-legenda {
    font-weight: bold;
    font-size: 15px;
}

.formulario-tabela {
    font-size: 16px;
   
}