body {
    font-family: 'Dosis';
}



.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 1440px;
    margin: 0 auto;
   
    
    
}

.cabecalho .logo {
    width: 70px;
   
}

.cabecalho .menu {
    display: flex;
    align-items: center;
    height: 100%;
    
}

.cabecalho nav li a {
    font-weight: bold;
    color: rgb(226, 6, 19);
    font-size: 24px;
    padding: 10px 35px;
    transition: 0.2s;
}

.cabecalho nav li a:hover {
    color: rgb(0, 149, 64)
}

.container {
    
    max-width: 1440px;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding: 50px;
}
.container .formulario {


}
.formulario-legenda {
    font-weight: bold;
    font-size: 15px;
}

.formulario-tabela {
    font-size: 16px;
   
}

.button {
    font-family: 'Dosis';
    text-transform: uppercase;
    border-radius: 0;
    margin: 5px 48px;
    border: none;
    cursor: pointer;
   
}